{% extends "layout.html" %}
{% block body %}
<h1>Commands</h1>
<br>
<button id="{{ url_for('commands', cmd='update') }}" type="button" class="btn btn-success">Update Octobot</button>
<button id="{{ url_for('commands', cmd='restart') }}" type="button" class="btn btn-warning">Restart Octobot</button>
<button id="{{ url_for('commands', cmd='stop') }}" type="button" class="btn btn-danger">Stop Octobot</button>

<!--temp location-->
<script>
$(document).ready(function() {
    $(".btn").click(function(){
        command = $(this).attr('id');
        $.ajax({
          url: command,
        }).done(function(data) {
            console.log(data);

        }).fail(function(data) {
            console.log(data);
        });
    });
});
</script>
{% endblock %}