{% extends "layout.html" %}
{% block body %}
<h1>Configuration</h1>
<div class="alert alert-primary" role="alert">
    Any configuration change will be take into account after OctBot restarts.
    <button route="{{ url_for('commands', cmd='restart') }}" type="button" class="btn btn-warning btn-sm float-right">Restart Octobot</button>
</div>
<div class="accordion" id="accordionConfiguration">
    <div class="card">
        <div class="card-header" id="headingExchanges">
          <h5 class="mb-0" data-toggle="collapse" data-target="#collapseExchanges" aria-expanded="true" aria-controls="collapseExchanges">
            <button class="btn btn-link" type="button" >
              Exchanges
            </button>
          </h5>
        </div>

        <div id="collapseExchanges" class="collapse show" aria-labelledby="headingExchanges" data-parent="#accordionConfiguration">
          <div class="card-body">
            EXCHANGE CONFIG
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEvaluators">
          <h5 class="mb-0" data-toggle="collapse" data-target="#collapseEvaluators" aria-expanded="true" aria-controls="collapseEvaluators">
            <button class="btn btn-link" type="button">
              Evaluators
            </button>
          </h5>
        </div>

        <div id="collapseEvaluators" class="collapse show" aria-labelledby="headingEvaluators" data-parent="#accordionConfiguration">
          <div class="card-body config-root" update-url="{{ url_for('config', update_type='evaluator_config') }}">
            <div class="card-text row">
              {% for evaluator_name, activated in get_evaluator_config().items() %}
                <a href="#" onclick="return false;" class="list-group-item list-group-item-action col-sm-6 col-md-4 col-lg-3 {{'list-group-item-success' if activated else 'list-group-item-light'}} config-element" id={{evaluator_name}} config-key={{evaluator_name}} config-value={{activated}} startup-config-value={{get_evaluator_startup_config()[evaluator_name]}}>{{ evaluator_name }}
                  <span class="float-right">
                    <span class="badge {{'badge-warning' if get_evaluator_startup_config()[evaluator_name] != activated else ('badge-success' if activated else 'badge-secondary')}}">{{('Activation pending restart' if activated else 'Deactivation pending restart') if get_evaluator_startup_config()[evaluator_name] != activated else ('Activated' if activated else 'Deactivated')}}</span>
                  </span>
                </a>
              {% endfor %}
            </div>
            <div class="card-body text-center">
              <button class="btn btn-outline-warning btn-lg" id='reset-evaluator-config'>Reset</button>
            </div>
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTrading">
          <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTrading" aria-expanded="false" aria-controls="collapseTrading">
            <button class="btn btn-link collapsed" type="button">
              Trading
            </button>
          </h5>
        </div>
        <div id="collapseTrading" class="collapse" aria-labelledby="headingTrading" data-parent="#accordionConfiguration">
          <div class="card-body">
            TRADING CONFIG
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingNotifications">
          <h5 class="mb-0" data-toggle="collapse" data-target="#collapseNotifications" aria-expanded="false" aria-controls="collapseNotifications">
            <button class="btn btn-link collapsed" type="button">
              Notifications
            </button>
          </h5>
        </div>
        <div id="collapseNotifications" class="collapse" aria-labelledby="headingNotifications" data-parent="#accordionConfiguration">
          <div class="card-body">
            NOTIFICATIONS CONFIG
          </div>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary">Save config</button>
</div>
<script src="{{ url_for('static', filename='js/components/configuration.js') }}"></script>
{% endblock %}