{% extends "layout.html" %}
{% block body %}
<div class="card">
    <div class="card-header"><h2>Data collector</h2></div>
    <div class="card-body">
        <div class="card-header"><h2>Available backtesting data files</h2></div>
        <table class="table table-striped table-bordered table-sm table-hover" id="dataFilesTable" update-url="{{ url_for('data_collector', action_type='delete_data_file') }}">
          <thead>
            <tr>
                <th scope="col">File</th>
                <th scope="col">Symbol</th>
                <th scope="col">Exchange</th>
                <th scope="col">Date of recording</th>
                <th scope="col">Candles</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for file, description in data_files.items() %}
                <tr class="selectable_datafile">
                    <td>{{file}}</td>
                    <td>{{description.symbol}}</td>
                    <td>{{description.exchange}}</td>
                    <td>{{description.date}}</td>
                    <td>{{description.candles}}</td>
                    <td class="text-center">
                        <a class="btn fa fa-trash-alt delete_data_file" data-file={{file}} data-toggle="tooltip" data-placement="right" title="Delete data file"></a>
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="button" class="btn btn-primary">Get new data</button>
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/components/data_collector.js') }}"></script>
{% endblock additional_scripts %}
