{% extends "layout.html" %}
{% block body %}
<div class="card">
        <div class="card-header"><h2>Backtesting data</h2></div>
        <div class="card-body">
            <div class="card-title">List of backtesting data</div>
            <table class="table">
                <caption>List of backtesting data</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Exchange</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Starting Date</th>
                        <th scope="col">Ending Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Binance</td>
                        <td>BTC/USDT</td>
                        <td>10/10/2017</td>
                        <td>11/10/2017</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Bitfinex</td>
                        <td>ETH/USDT</td>
                        <td>10/10/2017</td>
                        <td>11/10/2017</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary">Get new data</button>
        </div>
</div>
{% endblock %}