<!-- Footer -->
<footer class="page-footer font-small red lighten-2 fixed-bottom">

  <div class="footer-copyright text-center py-3">Follow OctoBot project updates on
      <a href="https://github.com/Drakkar-Software" target="_blank"><i class="fab fa-github"></i> GitHub</a>
      <a href="https://twitter.com/DrakkarSoftware" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
      <a href="https://t.me/OctoBot_Project" target="_blank"><i class="fab fa-telegram"></i> Telegram</a>
      <a href="https://discordapp.com/invite/vHkcb8W" target="_blank"><i class="fab fa-discord"></i> Discord</a>
      &emsp;Join the <a href="https://t.me/joinchat/F9cyfxV97ZOaXQ47H5dRWw" target="_blank"><i class="fab fa-telegram"></i> OctoBot community chat</a> for the best tips and tricks
      &emsp;<span update-url="{{ url_for('api.version') }}" id="botVersion"></span>
  </div>
  <div class="footer-copyright text-center">We develop OctoBot for free, if you enjoy the project, tips are much appreciated
      <span><i class="fab fa-bitcoin"></i> 1DHfjxD3C4e2Xi37FsoTbVJ6e4zNtesiwf</span>  <span> <i class="fab fa-ethereum"></i> 0xF154aA84B66e2bCacd74e201496D9ac3f81234D5</span>
  </div>

</footer>
<!-- Footer -->