<!-- Footer -->
<footer class="page-footer font-small red lighten-2">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Follow OctoBot project updates on
      <a href="https://github.com/Drakkar-Software" target="_blank"><i class="fab fa-github"></i> GitHub</a>
      <a href="https://twitter.com/DrakkarSoftware" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
      <a href="https://t.me/OctoBot_Project" target="_blank"><i class="fab fa-telegram"></i> Telegram</a>
      <a href="https://discordapp.com/invite/vHkcb8W" target="_blank"><i class="fab fa-discord"></i> Discord</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->