{% extends "layout.html" %}
{% block body %}
    <br>
    <div class="card">
        <div class="card-header"><h2>Symbol price</h2></div>
        <div class="card-body">
            <div id="graph-symbol-price"></div>
        </div>
    </div>
    <br>
{% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/components/dashboard.js') }}"></script>

    <script>
        get_symbol_price_graph("graph-symbol-price", "binance", "BTC|USDT", "1h");
    </script>
{% endblock additional_scripts %}