{% extends "layout.html" %}
{% block body %}
<br>
<div class="alert alert-danger" role="alert">
    <h1>This page is currently in development</h1>
</div>
<div class="alert alert-info" role="alert">
    <h1>Welcome to OctoBot</h1>
</div>

<div id="graph-symbol-price"></div>
{% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/components/dashboard.js') }}"></script>

    <script>
        create_candlestick_graph("graph-symbol-price", [], [], [], [], []);
    </script>
{% endblock additional_scripts %}