<!doctype html>
<html lang="en">
    <head>
        <title>OctoBot</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome_all.css') }}">

        <!-- mdb CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">

        <!-- Own -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark danger-color">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dash') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('config') }}">Configuration</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTrading" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Trading
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('portfolio') }}">Portfolio</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('orders') }}">Orders</a>
                            <a class="dropdown-item" href="{{ url_for('trades') }}">Trades</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTentacles" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Tentacles
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('tentacles') }}">Tentacles</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('tentacle_manager') }}">Tentacle Manager</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBacktesting" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Backtesting
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('backtesting') }}">Backtesting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('data_collector') }}">Data collector</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="{{ url_for('commands') }}">OctoBot <i id="navbar-bot-status" class="fa fa-spinner fa-spin"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tutorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('advanced.home') }}"><i class="fa fa-bug"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('commands') }}"><i id="navbar-bot-reboot" class="fa fa-sync"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}

        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='js/lib/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/toastr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/mdb.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/common/cst.js') }}"></script>
        <script src="{{ url_for('static', filename='js/common/bot_connection.js') }}"></script>
        <script src="{{ url_for('static', filename='js/common/dom_updater.js') }}"></script>
    </body>
</html>
