{% extends "layout.html" %}
{% import 'macros/tables.html' as m_tables %}

{% macro extract_orders(order_list, sim_or_real) -%}
    {% for orders in order_list %}
        {% for order in orders %}
            {{ m_tables.order_tr(order, convert_type(order.get_order_type()), convert_timestamp(order.get_creation_time()), sim_or_real) }}
        {% endfor %}
    {% endfor %}
{%- endmacro %}

{% block body %}
<div class="card">
    <div class="card-header"><h2>Open orders</h2></div>
    <div class="card-body">
        <div class="table-responsive">
          <table id="open_order_datatable" class="table table-striped table-bordered table-hover">
            <caption>List of open orders</caption>
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Exchange</th>
                <th scope="col">Symbol</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Real / Simulated</th>
                <th scope="col">Creation</th>
            </tr>
          </thead>
          <tbody>
            {{ extract_orders(real_trades_history, "Real") }}
            {{ extract_orders(simulated_open_orders, "Simulated") }}
          </tbody>
          </table>
        </div>
    </div>
</div>
<br>
<!--<h2>Order history</h2>-->
<!--<div class="table-responsive">-->
  <!--<table class="table">-->
    <!--<caption>List of order history</caption>-->
  <!--<thead>-->
    <!--<tr>-->
        <!--<th scope="col">#</th>-->
        <!--<th scope="col">Exchange</th>-->
        <!--<th scope="col">Symbol</th>-->
        <!--<th scope="col">Type</th>-->
        <!--<th scope="col">Price</th>-->
        <!--<th scope="col">Quantity</th>-->
        <!--<th scope="col">Status</th>-->
        <!--<th scope="col">Creation</th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--PENDING...-->
  <!--</tbody>-->
  <!--</table>-->
<!--</div>-->

{% endblock %}

{% block additional_scripts %}
<script>
    $(document).ready(function () {
      $('#open_order_datatable').DataTable({
         // "ajax": "{{ url_for('api.orders') }}"
      })
    });
</script>
{% endblock additional_scripts %}