{% extends "layout.html" %}
{% block body %}
<h1>Trades</h1>
<br>
<div class="table-responsive">
  <table class="table">
    <caption>List of trades</caption>
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Exchange</th>
        <th scope="col">Symbol</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Real / Simulated</th>
        <th scope="col">Creation</th>
    </tr>
  </thead>
  <tbody>
  {% for trades in real_trades_history %}
      {% for trade in trades %}
        <tr>
            <th scope="row">{{ trade.get_order_id() }}</th>
            <td>{{ trade.get_exchange_name() }}</td>
            <td>{{ trade.get_symbol() }}</td>
            <td>{{ trade.get_order_type() }}</td>
            <td>{{ trade.get_price() }}</td>
            <td>{{ trade.get_quantity() }}</td>
            <td>Real</td>
            <td>{{ trade.get_creation_time() }}</td>
        </tr>
      {% endfor %}
  {% endfor %}
  {% for trades in simulated_trades_history %}
    {% for trade in trades %}
        <tr>
            <th scope="row">{{ trade.get_order_id() }}</th>
            <td>{{ trade.get_exchange_name() }}</td>
            <td>{{ trade.get_symbol() }}</td>
            <td>{{ trade.get_order_type() }}</td>
            <td>{{ trade.get_price() }}</td>
            <td>{{ trade.get_quantity() }}</td>
            <td>Simulated</td>
            <td>{{ trade.get_creation_time() }}</td>
        </tr>
      {% endfor %}
  {% endfor %}
  </tbody>
  </table>
</div>

{% endblock %}