[run]
omit =
    tests/*
    backtesting/*
    interfaces/*
    services/*
    tools/*
    evaluator/Dispatchers/*
    trading/exchanges/rest_exchanges/*
    trading/exchanges/websockets_exchanges/*
    tentacles/*
    setup.py
    start.py
