.idea/

# Remove Git
.git/
.github/
.gitattributes
.gitignore

# python
venv/
build/
.eggs/

# Ignore log files
logs/

# CI files
.coveragerc
.coveralls.yml
.travis.yml
appveyor.yml
renovate.json
setup.cfg
tox.ini

# octobot
# tentacles/ TODO: temp
# backtesting/ TODO: temp
# user/ TODO: temp
tests/
docs/
