.dockerignore

.idea/

# Remove Git
.git/
.github/
.gitattributes
.gitignore

# Ignore log files
logs/

# CI files
.coveragerc
.coveralls.yml
.travis.yml
appveyor.yml
renovate.json
setup.cfg
tox.ini

# octobot
tentacles/
config.json

# others
*.md
