# Setup requirements
cython==0.29.32

# Drakkar-Software requirements
OctoBot-Commons==1.8.6
OctoBot-Trading==2.3.15
OctoBot-Evaluators==1.8.1
OctoBot-Tentacles-Manager==2.8.3
OctoBot-Services==1.4.1
OctoBot-Backtesting==1.8.0
Async-Channel==2.1.0
trading-backend==1.0.18

## Others
colorlog==4.7.2
yarl==1.7.2
idna<2.9,>=2.5
requests==2.25.1
packaging==21.3
python-dotenv==0.21.0
setuptools<65.6 # Added because the distutils.log.Log class was removed in setuptools >= 65.6. Should be remove when bumping numpy. 

# Community
websockets
gmqtt==0.6.11