# Cryptocurrency trading
python-binance
twisted==18.4.0
ccxt
tulipy

## Services
# Reddit
praw

# Telegram
python-telegram-bot

# Twitter
Python-Twitter

# Web
jinja2
flask

## Tools
# Analysis tools
newspaper3k
pytrends
vaderSentiment

## Others
gitpython
psutil
plotly
colorlog
cryptography >= 2.2.1
pytz
tzlocal
requests
