metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"
db_engine = "lmdb"
metadata_auto_snapshot_interval = "6h"

replication_factor = {{ garage_replication_factor }}
compression_level = 2

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "{{ garage_rpc_public_addr }}"
rpc_secret = "{{ garage_rpc_secret }}"

bootstrap_peers = [{{ garage_bootstrap_peers }}]

[s3_api]
s3_region = "{{ s3_region }}"
api_bind_addr = "[::]:3900"
root_domain = ".s3.garage"

[s3_web]
bind_addr = "[::]:3902"
root_domain = ".web.garage"
index = "index.html"

[k2v_api]
api_bind_addr = "[::]:3904"

[admin]
api_bind_addr = "[::]:3903"
admin_token = "{{ garage_admin_token }}"
metrics_token = "{{ garage_metrics_token }}"
