{%- set external_urls = {
  'github': 'https://github.com/Drakkar-Software/OctoBot',
  'github_issues': 'https://github.com/Drakkar-Software/OctoBot/issues',
  'contributing': 'https://github.com/Drakkar-Software/OctoBot/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/Drakkar-Software/OctoBot/blob/master/CONTRIBUTING.md',
  'twitter': 'https://twitter.com/DrakkarsOctoBot',
  'discuss': 'https://github.com/Drakkar-Software/OctoBot/discussions',
  'home': 'https://docs.octobot.online',
  'get_started': 'https://docs.octobot.online',
  'blog': 'https://drakkar-software.github.io/OctoBot',
  'octobot-website': 'https://www.octobot.online',
  'feedback': 'https://feedback.octobot.online',
}
-%}
