{%- set external_urls = {
  'github': 'https://github.com/Drakkar-Software/OctoBot',
  'github_issues': 'https://github.com/Drakkar-Software/OctoBot/issues',
  'contributing': 'https://github.com/Drakkar-Software/OctoBot/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/Drakkar-Software/OctoBot/blob/master/CONTRIBUTING.md',
  'docs': 'https://drakkar-software.github.io/OctoBot',
  'twitter': 'https://twitter.com/DrakkarsOctoBot',
  'discuss': 'https://github.com/Drakkar-Software/OctoBot/discussions',
  'tutorials': '',
  'previous_pytorch_versions': '',
  'home': 'https://drakkar-software.github.io/OctoBot',
  'get_started': 'https://github.com/Drakkar-Software/OctoBot/wiki',
  'features': 'https://drakkar-software.github.io/OctoBot',
  'blog': 'https://drakkar-software.github.io/OctoBot',
  'resources': 'https://drakkar-software.github.io/OctoBot',
  'support': 'https://drakkar-software.github.io/OctoBot',
}
-%}
