/* Nav bar disabling */
a.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}

.icon-green {
  color: #10FB03;
}

.icon-red {
  color: red;
}