.card-deck {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}
.card-deck .card {
  display: block;
  flex-basis: 33.3%;
}

// Remove color from editable link
a:link { color: inherit; }

// ensure in line display
.editable {
    display: inline;
}

body:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    background-image: url('../../assets/images/octobot.svg');
    background-color: #d1d1e0;

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;

}