// ensure in line display
.editable {
    display: inline;
}

body:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    background-image: url('../../assets/images/octobot.svg');

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;

}

/* Cards */
.card-deck {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}
.card {
  display: block;
  flex-basis: 33.3%;
  .rounded-bottom !important;
}

/* elegant-color white-text */

/* Theme */
/* Elegant */
.card,
.card-body,
.card-text,
.select2-selection__choice
{
    background-color: #3E4551 !important;
}

.card,
.card-body,
.card-text,
.select2 li span,
.card-text{
    color: white !important;
}

.card .card,
.card .card .card-body,
.card .card .card-text,
.card .card-deck .card,
.card .card-deck .card .card-body,
 .card .card-deck .card .card-text{
    background-color: #4B515D !important;
}

.card a:link {
    color: #33b5e5 !important;
}

.card a:hover {
    color: #42a5f5 !important;
}