[defaults]
inventory = inventories
roles_path = roles
# Override with --private-key or set here
# private_key_file = ~/.ssh/id_ed25519
retry_files_enabled = False
# Ignore .example files so Ansible doesn't try to parse them as inventory
inventory_ignore_extensions = ~, .orig, .bak, .ini, .cfg, .retry, .pyc, .pyo, .example
deprecation_warnings = False

[privilege_escalation]
become = True
become_method = sudo
