{% macro config_currency_card(config_symbols, crypto_currency, add_class='') -%}
    <!-- Card -->
    <div class="card mb-4 {{add_class}}">

        <!--Card image-->
        <div class="view overlay">
          <!--{{ crypto_currency }}-->
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">{{crypto_currency}}</h4>

            <p class="card-text symbols">
                {% if crypto_currency in config_symbols %}
                    <span
                        config-key="crypto-currencies_{{crypto_currency}}_pairs"
                        config-type="global_config"
                        config-value="{{config_symbols[crypto_currency]['pairs']}}"
                        startup-config-value="{{config_symbols[crypto_currency]['pairs']}}"
                        class="config-element">
                        {% for symbol in config_symbols[crypto_currency]["pairs"] %}
                            {{ symbol }}<br>
                        {% endfor %}
                    </span>
                {% endif %}
            </p>

            <button type="button" class="btn btn-danger remove-btn px-3"><i class="fa fa-ban" aria-hidden="true"></i> Remove</button>
        </div>
    </div>
{%- endmacro %}