{% macro editable_key(config, key, config_key, config_type, config_value, startup_config_value, suggestions="") -%}
        {% if config[key] is string %}
            {{ editable_key_string(config, key, config_key, config_type, config_value, startup_config_value, suggestions) }}
        {% elif config[key] | is_dict %}
            {{ editable_key_dict(config, key, config_key, config_type, config_value, startup_config_value, suggestions) }}
        {% elif config[key] | is_list %}
            {{ editable_key_list(config, key, config_key, config_type, config_value, startup_config_value, suggestions) }}
        {% elif config[key] | is_bool %}
            {{ editable_key_bool(config, key, config_key, config_type, config_value, startup_config_value, suggestions) }}
        {% elif config[key] is number %}
            {{ editable_key_number(config, key, config_key, config_type, config_value, startup_config_value, suggestions) }}
        {% else %}
            {{ editable_key_string(config, key, config_key, config_type, config_value, startup_config_value, suggestions) }}
        {% endif %}
{%- endmacro %}

{% macro editable_key_string(config, key, config_key, config_type, config_value, startup_config_value, suggestions) -%}
    {{ key }} : <a href="#"
            config-key="{{config_key}}"
            config-type="global_config"
            config-value="{{config[key]}}"
            startup-config-value="{{config[key]}}"
            data-type="text"
            data-pk="1"
            class="editable editable-click config-element">
    {{ config[key] }}</a><br>
{%- endmacro %}

{% macro editable_key_dict(config, key, config_key, config_type, config_value, startup_config_value, suggestions) -%}
    {{ key }} : <br>
    {% for new_key in config[key] %}
        &emsp;{{  editable_key( config[key],
                            new_key,
                            config_key + "_" + new_key,
                            config_type,
                            config_value[new_key],
                            startup_config_value[new_key],
                            suggestions)
        }}
    {% endfor %}
{%- endmacro %}

{% macro editable_key_bool(config, key, config_key, config_type, config_value, startup_config_value, suggestions) -%}
    {{ key }} :
     <input     type="checkbox"
                class="config-element"
                config-key="{{config_key}}"
                config-type="global_config"
                config-value="{{config[key]}}"
                startup-config-value="{{config[key]}}"
                data-type="bool"
     {% if config[key] == True %}checked{% endif %}><br>
{%- endmacro %}

{% macro editable_key_number(config, key, config_key, config_type, config_value, startup_config_value, suggestions) -%}
    {{ key }} : <a href="#"
                config-key="{{config_key}}"
                config-type="global_config"
                config-value="{{config[key]}}"
                startup-config-value="{{config[key]}}"
                data-type="number"
                data-pk="1"
                class="editable editable-click config-element">
    {{ config[key] }}</a><br>
{%- endmacro %}

{% macro editable_key_list(config, key, config_key, config_type, config_value, startup_config_value, suggestions) -%}
    {% set select_id = range(1, 2000000) | random %}
    {{ key }} :
    <select id="{{ select_id }}" class="editable editable-click config-element" multiple="multiple">
        {% for name in suggestions %}
            <option value="{{ name }}"
            {% if name in config[key] %}
                selected="selected"
            {% endif %}
            >{{ name }}</option>
        {% endfor %}
    </select><br>
        <script>
            $("#{{ select_id }}").select2({
                width: 'resolve', // need to override the changed default
                tags: true
            });
        </script>
{%- endmacro %}