{% import 'components/config/editable_config.html' as m_editable_config %}
{% macro config_service_card(config, service_name, service, add_class='') -%}
    {% set service_requirements = service.REQUIRED_CONFIG %}
    <!-- Card -->
    <div class="card mb-4 {{add_class}}">

        <!--Card image-->
        <div class="view overlay">
          <!--{{ service_name }}-->
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">{{service_name}}</h4>

            <p class="card-text api" name={{service_name}}>
                {% for req in service_requirements %}
                    {{ m_editable_config.editable_key(  config[service_name],
                                                        req,
                                                        service_name + "_" + req,
                                                        "global_config",
                                                        config[service_name][req],
                                                        config[service_name][req],
                                                        number_step=1)
                    }}
                {% endfor %}
            </p>

            <button type="button" class="btn btn-danger remove-btn px-3"><i class="fa fa-ban" aria-hidden="true"></i> Remove</button>
        </div>
    </div>
{%- endmacro %}