{% macro config_service_card(service, add_class='') -%}
    <!-- Card -->
    <div class="card mb-4 {{add_class}}">

        <!--Card image-->
        <div class="view overlay">
          <!--{{ service }}-->
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">{{ service }}</h4>

            <p class="card-text api">
                UserName : <span editable="string">********</span><br>
                Password : <span editable="string">*****************</span>
            </p>

            <p class="card-text websocket">
                Token : <span editable="string">************</span>
            </p>

            <button type="button" class="btn btn-warning edit-btn px-3"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
            <button type="button" class="btn btn-danger remove-btn px-3"><i class="fa fa-ban" aria-hidden="true"></i> Remove</button>
        </div>
    </div>
{%- endmacro %}