{% macro config_trader_card(trader, add_class='') -%}
    <!-- Card -->
    <div class="card mb-4 {{add_class}}">

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">{{ trader }}</h4>

            <p class="card-text enable">
                Enabled : <input type="checkbox">
            </p>

            <!-- IF not simulated -->
            <p class="card-text config">
                Risk : <span editable="integer">1</span><br>
                Mode : <span editable="string">DailyTradingMode</span> <br>
                Reference Market : <span editable="string">BTC</span>
            </p>

            <!-- IF simulated -->
            <p class="card-text pf">
                Starting portfolio :
                - BTC : 10 <br>
                - ETH : 20 <br>
                - USDT : 10000
            </p>
        </div>
    </div>
{%- endmacro %}